body {
    font-size: 16px;
    color: maroon;
    font-family: 'Exo', sans-serif;
    background-color: #d7eef7;
}
/**Header**/

.container-fluid {
    margin-left:5%;
    margin-right:5%;
}

#header-nav {
    background-color: lightgray;
    border-radius: 0;
    border-width: 5px;
    border-color:darkgray;
    box-shadow: 0 0 5px #3F0C1F;
}


#logo-img {
    background:url('../images/logo.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 10px;
    border-radius:57px;
    border: 6px solid orange;
}


.navbar-brand {
    padding-top:25px;
}

.navbar-brand h1 {
     font-family: 'Raleway', sans-serif;
     color: #b0f;
     font-size:2em;
     text-transform:uppercase;
     font-weight: bold;
     text-shadow: 1px 1px 1px #222;
     margin-top: 0;
     margin-bottom:0;
     line-height:0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
     text-decoration:none;
}

.navbar-brand p {
    font-size:.8em;
    color:#002B36;
    text-transform: uppercase;
    text-align:center;
    margin-top: 15px;
    font-weight: bold;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  font-size:1.3em;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
/*  margin-top: -30px;*/
}
/* END HEADER */

/* HOME PAGE */

.container .jumbotron {
  border-radius:0;
  opacity:0.2;
  padding:0;
  margin:0;
  box-shadow: 0 0 20px #3F0C1F;
  border: 2px solid #3F0C1F;
}

/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
    .container .jumbotron {
    background: url('../images/jumbotron-1200-2.jpg') no-repeat;
    height: 675px;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/logo.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

   /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron-992-1.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
      /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron-992-2.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw;/*  1vw = 1%viewport width */ 
  }
  .navbar-brand p {
    font-size: .6em;
    margin-top: 12px;
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    vertical-align:center;
    font-weight:bold;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
/*End of Header*/

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }


}
