<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/pillars.css" />
    <title>Leadership</title>
  </head>
  <body>
    <header>
      <nav id="header-nav" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a href="index.html" class="pull-left">
              <div id="logo-img" alt="Logo image"></div>
            </a>
          </div>

          <div class="navbar-brand">
            <a href="index.html"><h1>Igniters</h1></a>
            <p><span>Making Leaders</span></p>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/taking-initiative.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Taking initiative</h5>
                <p class="card-text">
                  Whether your effort is big or small, taking initiative can
                  have a huge impact.
                </p>
                <a href="#" class="btn btn-primary">Know more...</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/conscientiousness.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Conscientiousness</h5>
                <p class="card-text">
                  Meaning isn't as complex as the word is but following it is
                  complex for sure.
                </p>
                <a href="#" class="btn btn-primary">Know more</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/innovativeness.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Innovativeness</h5>
                <p class="card-text">
                  Innovativeness has everything to do with thinking out of the
                  box, so stand out.
                </p>
                <a href="#" class="btn btn-primary">Know more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/perseverance.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Perseverance</h5>
                <p class="card-text">
                  Move out of comfort zone because everything you wish for lies
                  outside it.
                </p>
                <a href="#" class="btn btn-primary">Know more</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem">
              <img
                src="../images/problem-solving.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Problem Solving</h5>
                <p class="card-text">
                  Every question has an answer but the answer also starts with a
                  question.
                </p>
                <a href="#" class="btn btn-primary">Know more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
